.about{
    width: 100%;
}
.about-cover{
    width: 100%;
    background-image: url(../img/About/cover/cover-resze-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
  display: flex;
align-items: center;
}
.about-cover::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
   top: 0;
}
.about-cover_item{
    position: relative;
    color: white;
    width: 25%;
    z-index: 2;
    background-color: transparent;
}
.about-cover_item h2{
    font-size: 70px;
    margin-bottom: 8px;
}
.about-cover_item p{
    font-size: 16px;
    line-height: 1.68;
    width: 30%;
}



.about-body-item{
padding: 140px 0 240px;
color: white;
display: flex;
justify-content: space-between;
}
.about-body-item-left{
flex-basis: 41%;
}
.about-body-item-left h4{
    font-size: 34px;
    margin-bottom: 56px;
    font-family: bold;
}
.about-body-item-left-one{
    border-radius: 4px;
border: 1px solid rgba(255, 255, 255, .1);
background: rgba(255, 255, 255, .08);
padding: 48px 40px;
}
.about-body-item-left-one + .about-body-item-left-one{
    margin-top: 48px;
}
.about-body-item-left-one h5{
    color: var(--yellow--color);
    margin-bottom: 24px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 100;
}
.about-body-item-left-one p{
line-height: 1.68;
}



.parallax-window {
   height: 300px;
    background: transparent;
}
