.bar-open{
    margin: auto;
    color: white;
    width: 1440px;
  height: 1080px;
display: flex;
align-items: center;

}
.bar-open-body{
    width: 100%;
padding: 140px 0;
}
.bar-open-item{
    display: flex;
align-items: flex-start;
width: 100%;
justify-content: space-between;
}
.bar-open-item_left_bottom a{
    display: flex;
    align-items: center;
}
.bar-open-item_left_bottom .far{
    color: var(--yellow--color);
    font-size: 24px;
    margin-left: 8px;
}
.bar-open-item_left_top{
    display: flex;
    flex-direction: column;
    margin-bottom: 136px;
}
.bar-open-title + .bar-open-title{
    margin-top: 56px;
}
.bar-open-item_right_top{
margin-bottom: 84px;
}
.bar-open-item_right_top h4{
    margin-bottom: 48px;
}
.bar-open-item_right_top_body h5{
margin-top: 32px;
transition: .5s ease;
}
.bar-open-item_right_top_body h5:hover{
    color: var(--yellow--color);
}
.bar-open-item_right_top_body{
    margin-bottom: 121px;
}
.bar-open-item_right h4{
    font-size: 24px;
    color: rgba(102, 102, 102, 1);
    font-family: medium;
}
.bar-open-item_right h5{
    font-size: 24px;
    font-family: regular;
    font-weight: 100;
    text-transform: capitalize;
}
.bar-open-item_right_bottom h5{
    padding-top: 40px;
}



.bar-tran{
    transform: translateY(0);
    background: white;
    max-width: 100%;
    width: 100%;
    background: black;
    margin: 0 auto;
}

.bar-open-body{
    z-index: 2;
    background: black;
}
.navbar-text .fuck{
    margin-bottom: 24px;
}
.navbar-text  .fas{
    color: white;
    position: absolute;
    right: 0;
    font-size: 32px;
    opacity: 1;
    }
    .bar-open-title{
        transition: .5s ease;
    }
    .bar-open-title:hover{
        color: var(--yellow--color);
    }
